<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>圆梦计划运营管理系统</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src='assets/js/jquery-1.10.2.js'></script>
    <script src='assets/js/controller.js'></script>
    <!--<script type="text/javascript">
        function menuClick($menuName){
            alert($menuName)
            $("#page-wrapper").load("./partials/panel-tabs.html")
        }
    </script>-->
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">圆梦计划运营管理系统</a>
            </div>
            <div class="header-right">
                <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>活动管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <!--<a href="panel-tabs.html"><i class="fa fa-toggle-on"></i>活动列表</a>-->
                                <a id="projectList" href="#" onclick="menuClick('projectList','project-list.html')"><i class="fa fa-toggle-on"></i>活动列表</a>
                            </li>
                            <li>
                                <a id="projectTemplate" href="#" onclick="menuClick('projectTemplate')"><i class="fa fa-bell"></i>活动模板</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-yelp "></i>财务管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a id="dealDetail" href="#" onclick="menuClick('dealDetail')"><i class="fa fa-coffee"></i>交易明细</a>
                            </li>
                            <li>
                                <a id="tuitionWithdraw" href="#" onclick="menuClick('tuitionWithdraw')"><i class="fa fa-coffee"></i>学费提现</a>
                            </li>
                             <li>
                                <a id="fundWithdraw" href="#" onclick="menuClick('fundWithdraw')"><i class="fa fa-coffee"></i>资金池提现</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a id="cuserList" class="active-menu" href="#" onclick="menuClick('cuserList')"><i class="fa fa-dashboard"></i>C端用户管理</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        &copy; 2017 知金教育咨询有限公司 | 圆梦计划 
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
</body>
</html>
